.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.line {
    display: inline-block;
    width: 100%;
}

.btn {
    width: 48px;
    height: 48px;
    border: 0;
    background: none;
	overflow: hidden;
	padding: 0;
    background: rosybrown;
    position: relative;
}

.line span {
    display: block;
    width: 100px;
    height: 2px;
    background: black;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
	transition: all 0.3s;
}

.line span:first-child {
    top: 15%;
}

.line span:nth-child(2) {
    top: 50%;
    opacity: 1;
}

.line span:nth-child(3) {
    bottom: 15%;
}

.btn:hover .line {
    transform: rotate(90deg);
}

.btn:hover .active {
    transform: rotate(-45deg);
}


.btn:hover .line span:nth-child(1),
.btn:active .line span:nth-child(1) {
	top: 50%;
	left: 0;
	margin-top: -1px;
	transform: rotate(90deg) translate(0%, 0%);
}
.btn:hover .line span:nth-child(2),
.btn:active .line span:nth-child(2) {
	opacity: 0;
}
.btn:hover .line span:nth-child(3),
.btn:active .line span:nth-child(3) {
	top: 50%;
	transform: rotate(-360deg) translate(-50%, -50%);
}
