body {
    background-color: #eae8fe;
}

.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

header {
    /* 변동값  386 166*/
    width: 386px;
    margin: 0 auto;
}

.header-img {
    /* 변동값  386 166*/
    width: 386px;
}

