body {
    margin: 30px;
}

.card-item {
    width: 288px;
    background: #fff;
    box-shadow: 2px 2px 8px 0px #0000001A;
    border-radius: 8px;
    overflow: hidden; 
}

.card-item img {
    width: 100%;
    aspect-ratio: 288/196;
}

.card-item a {
    text-decoration: none;
    color: #29363D;
}

.card-text {
    padding: 24px 16px 16px;
}

.card-text .title {
    font-size: 14px;
}

.card-text .title + p {
    font-size: 10px;
    color: #5a6a72;
    text-overflow: ellipsis; 
    overflow: hidden; 
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 2; 
    word-break: break-all; /* 체크*/
}

.card-item .underline {
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline;
    margin-left: 6px;
}

h2 {
    margin: 0;
}

p {
    margin-top: 12px
}

.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}