@font-face {
    font-family: "SpoqaHanSansNeo-Regular";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "SpoqaHanSansNeo-Regular";
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.login-btn img {
    height: 18px;
    vertical-align: middle;
}

.login {
    box-sizing: border-box;
    margin: 30px 25px;
    width: 352px;
    height: 142px;
    border: 1px solid #DBDBDB;
    border-radius: 5px;
    background: #FFF;
    font-size: 12px;
    font-weight: 400;
    padding: 19px 16px;
}

.login-btn {
    display: block;
    text-align: center;
    background: #711BFF;
    border-radius: 4px;
    width: 318px;
    height: 40px;
    line-height: 45px;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 17px;
}

.login-link a{
    color: #767676;
    margin: 0;
}

.login-link a:last-child {
    float: right;
}

.login-link img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 4px;
}

span {
    display: inline-block;
    width: 1px;
    height: 15px;
    background-color: #767676;
    margin: 0 4px;
    vertical-align: middle;
    font-weight: 400;
}

.find-id {
    background-image: url(../img/icon-lock.png);
}

.join-btn{
    background-image: url(../img/icon-user.png);
}

.find-id,
.join-btn {
    background-repeat: no-repeat;
    background-size: 16px;
    padding-left: 20px;
}

.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}