@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Pretendard-Regular', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #5A6A72;
}

* a {
    text-decoration: none;
}

.card-item {
    margin: 30px;
    width: 288px;
    height: 374px;
    background: #FFF;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.card-profile {
    width: 288px;
    height: 68px;
    display: flex;
}

.card-profile-img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 18px 0 0 16px;
    object-fit: cover;
}

.card-profile-content {
    margin: 19px 16px 15px 16px;
}

.card-profile-msg {
    font-size: 16px;
    font-weight: 700;
    color: #29363D;
}

.card-img {
    width: 288px;
    height: 196px;
}

.card-content {
    margin: 10px 16px;
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 2; 
    word-break: break-all;
}

.card-underline {
    width: 288px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-underline-link {
    font-size: 14px;
    font-weight: 700;
    color: #29363D;
    text-decoration: underline;
    margin: 0 20px 0 22px;
    line-height: 50px;
}

.card-underline-arrow {
    font-size: 5px;
    color: #29363D;
}

.card-underline-icon {
    margin-right: 22px;
}

.card-underline-icon img {
    width: 25px;
    height: 25px;
    margin-left: 5px;
}